@import 'partails/params';



#copyright {
    margin-bottom: 0; 
    background-color: $header-color; 
    color: #ffffff;
    padding: 1rem 0;


    .wrapper {
               
        p {
            margin-bottom: 0; 
            color: white;
        }

        img {
            height: 18px;
            transform: translateY(-2px); 
            display: inline-block;
        }
    }

    .contacts {
        // @include contact-panel;
        .btn a {
            color: $icons-color;
            font-size: 16px;

            &:hover {
                color: $icons_hover-color;
            }
        }

        .link-white {
            color: white;
        }
    }
  
}

@media screen and (max-width: 768px) {
    #copyright {

        .copyright {
            transform: translateY(14px);
        }
        .wrap_contacts {
            text-align: right;
            transform: translateY(-16px)
        }  
    }
}

@media screen and (max-width: 576px) {
    #copyright {

        .copyright {
            transform: translateY(0);
            order: 5;
            text-align: right;
        }
        .wrap_contacts {
            text-align: right;
            transform: translateY(0)
        }  
    }
}
