@import 'partails/params';

#pricing {
    .row {
        text-align: center;

        .card {
            padding: 30px 15px;
            margin: 20px;

            .price {                
                display: inline-block;
                height: $height-price-around;
                width: $height-price-around;
                line-height: $height-price-around;
                border-radius: 50%;
                background-color: $icons-color;
                color: white;
                font-size: 1.5rem;
                margin: auto;           
            }
    
            .card-title {
                text-transform: none;
                font-size: 1.125rem;
                letter-spacing: 0;

                .text-color {
                    color: $icons-color;
                }
            }

            .btn {
                border-radius: 15px;
                color: $icons-color;
                padding: 4px 20px;
                border: 1px solid $icons-color;
                margin-top: 10px;
                font-size: 14px;

                &:hover {
                    color: $icons_hover-color;
                    border: 1px solid $icons_hover-color;
                }
            }

            .card-text.little {
                font-size: 12px;
            }
            .card-text:first-of-type i{
                color: $icons-color;
            }
        }      

    }
}

@media screen and (max-width: 992px) {
    #pricing .row .card {
        margin: 7px;
    }
}