$text-color: #444;
$header-color: #444;
$font_small-color: #777;
$navbar_text_hover-color: #222;
$icons-color: #3aafd6;
$icons_hover-color: #379bbc;
$logo-height: 30px;
$carousel_description-color: rgba(68, 68, 68, .7);
$input_border-color: #b2b2b2;
$background_reviews-color: #ebf7fb;
$height-price-around: 120px; 
$modal_background-color: rgba(4,4,4,.7);
$background_carousel_section: #f4f4f4;